@model  List<TranscationDetailViewModel>
@{
    ViewBag.Title = "All Transcations";
}

<h2>@ViewBag.Title</h2>


@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>There are no transcations</strong></p>
    </div>
}
else
{
    <div class="table-responsive">

        <table class="table table-striped table-auto-sort">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Amount</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date Transacted</th>
                    <th>Date Created</th>
                    <th>Date Updated</th>
                    <th>Edit</th>
                    <th>Void</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model)
                {
                    <tr>
                        <td>@record.Id</td>
                        <th>$ @record.Amount</th>
                        <td>@record.Title</td>
                        <td>@record.Description</td>
                        <td>@record.DateTransacted</td>
                        <td>@record.DateCreated</td>
                        <td>@record.DateUpdated</td>

                        @if (record.IsCreator || record.IsHhOwner)
                        {
                            <td>
                                <a href="@Url.Action("Edit", "Transaction", new { id = record.Id })">
                                    <i class="fas fa-fw fa-wrench"></i>
                                </a>
                            </td>
                            <td>
                                @using (Html.BeginForm("Void", "Transaction", new { id = record.Id}, FormMethod.Post))
                                {
                                    <button type="submit" class="btn btn-warning btn-sm btn-circle">
                                        <i class="fas fa-strikethrough"></i>
                                    </button>
                                }
                            </td>
                            <td>
                                @using (Html.BeginForm("Delete", "Transaction", new { id = record.Id}, FormMethod.Post))
                                {
                                    <button type="submit" class="btn btn-danger btn-sm btn-circle">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                        }

                    </tr>
                }

            </tbody>
        </table>
    </div>
}
