@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <h1>Welecome</h1>

    @*<div class="col-md-4">
        <p>@ViewBag.Todo.Title</p>
        @if (ViewBag.Todo.Body != null)
        {
            <p>@ViewBag.Todo.Body</p>
        }

        <p>@ViewBag.Todo.IsCompleted</p>

        @if (ViewBag.Todo.UserId != null)
        {
            <p>@ViewBag.Todo.UserId</p>
        }

        @if (ViewBag.Todo.Id != null)
        {
            <p>@ViewBag.Todo.Id</p>
        }

    </div>*@
</div>